.form {
  display: grid;
  grid-template-areas: 
    'top-input bottom-input'
    'meme-button meme-button';
  grid-template-rows: 40px 40px;
  gap: 17px
}

.form > input {
  border: 1px solid #D5d4d8;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  text-indent: 5px;
}

.form-top-input {
  grid-area: top-input;
}

.form-bottom-input {
  grid-area: bottom-input;
}

.form-new-image {
  grid-area: meme-button;
  font-family: "Karla", sans-serif;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color:white;
  border-radius: 5px;
  cursor: pointer;
}

.meme {
  margin-top: 1em;
  position: relative;
  border-radius: 3px;
  display: flex;
  justify-content: center;
}

.meme-image {
  max-width: 100%;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
